<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings />
  <appSettings>
    <add key="Host" value="192.168.2.101" />
    <add key="Port" value="1521" />
    <add key="ServiceName" value="xe" />
    <add key="UserId" value="bpl02011" />
    <add key="Password" value="0ba86614724bea55"/>
    <!--<add key="Password" value="054999444d8d9e22"/>-->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>