<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- MALOLOS CONNECTION-->
    
    <add key="Host" value="192.168.1.4"/>
    <add key="Port" value="1521"/>
    <add key="ServiceName" value="xe"/>
    <add key="UserId" value="bpl02011"/>
    <add key="Password" value="0ba86614724bea55"/>

    <!--  <add key="UserId" value="bpl02011t"/>
  <add key="Password" value="9c50ad537e39cf6e"/> -->

  <!-- MALOLOS BLOB CONNECTION
    <add key="BlobHost" value="192.168.0.155"/>
    <add key="BlobPort" value="1521"/>
    <add key="BlobServiceName" value="rnd"/>
    <add key="BlobUserId" value=" bpl02303blob"/>
    <add key="BlobPassword" value="fbd09ce4e1a893343cad6319d218bb19"/>-->

    <!--ON SITE CONNECTIONS, FOR LIVE AND TEST DATABASES-->

    <!--TEST DATABASE-->
    
    <!--add key="Host" value="192.168.0.100"/>
    <add key="Port" value="1521"/>
    <add key="ServiceName" value="prod"/>
    <add key="UserId" value="bpl02011t"/>
    <add key="Password" value="9c50ad537e39cf6e"/-->

    <!--LIVE DATABASE-->
    <!--
    <add key="Host" value="192.168.0.100"/>
    <add key="Port" value="1521"/>
    <add key="ServiceName" value="prod"/>
    <add key="UserId" value="bpl02011"/>
    <add key="Password" value="0ba86614724bea55"/>-->


  </appSettings>
</configuration>