<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--MALOLOS CONNECTION OFFICE-->

    <add key="Host" value="192.168.1.9"/>
    <add key="Port" value="1521"/>
    <add key="ServiceName" value="xe"/>
    <add key="UserId" value="bpl02011"/>
    <!--add key="Password" value="cf6c72b82da9eec2b9c30ec8767f54a4"/-->
    <add key="Password" value="0ba86614724bea55"/> <!--test-->
    <!-- 0ba86614724bea55--> <!--live-->
    <!-- 9c50ad537e39cf6e--> <!--test-->


    <!-- MALOLOS BLOB CONNECTION -->
    <add key="BlobHost" value="192.168.1.12"/>
    <add key="BlobPort" value="1521"/>
    <add key="BlobServiceName" value="xe"/>
    <add key="BlobUserId" value=" bpl02303blob"/>
    <add key="BlobPassword" value="cf6c72b82da9eec2b9c30ec8767f54a4"/>

    <!-- test -->
    <!--<add key="BlobHost" value="192.168.1.12"/>
    <add key="BlobPort" value="1521"/>
    <add key="BlobServiceName" value="xe"/>
    <add key="BlobUserId" value=" RPT02406BLOB"/>
    <add key="BlobPassword" value="d24591feff6cbe3aabb50011853b8ca1"/>-->


    <!-- MALOLOS ARCS CONNECTION -->
    <!--<add key="ARCSHost" value="192.168.0.156"/>
    <add key="ARCSPort" value="1521"/>
    <add key="ARCSServiceName" value="prod"/>
    <add key="ARCSUserId" value="arcs02011"/>
    <add key="ARCSPassword" value="5294db4f5daad86e"/>-->

    <!--ON SITE CONNECTIONS, FOR LIVE AND TEST DATABASES-->

    <!--TEST DATABASE-->
    <!---->
    <!--add key="Host" value="192.168.0.100"/>
    <add key="Port" value="1521"/>
    <add key="ServiceName" value="prod"/>
    <add key="UserId" value="bpl02011t"/>
    <add key="Password" value="9c50ad537e39cf6e"/-->

    <!--LIVE DATABASE-->
    <!--
    <add key="Host" value="192.168.0.100"/>
    <add key="Port" value="1521"/>
    <add key="ServiceName" value="prod"/>
    <add key="UserId" value="bpl02011"/>
    <add key="Password" value="0ba86614724bea55"/>-->


  </appSettings>
</configuration>